extends layout

mixin creature(name, price, location, time, img)
  div.mdl-card.mdl-shadow--2dp.creature
    div
      img.icon(src !="/images/creatures/" + img)
    div.center
      div.name
        a=name
      div.price
        img.bells(src="/images/bells.png")
        | #{price}
    div.center 
      i.material-icons place
      br
      | #{location}
    div.center 
      i.material-icons schedule
      br
      | #{time}
      
block header
  script.
    $(()=>{
      if (Cookies.get("isSouth") == "true")
      {
        goToSouth();
      }

      function goToNorth(){
        Cookies.set("isSouth", "false",  { expires: 99999 });
        $("#southbutton").removeAttr("disabled")
        $("#northbutton").attr('disabled', true)
        $(".southerndata").hide();
        $(".northerndata").show();
      }

      function goToSouth(){
        Cookies.set("isSouth", "true",  { expires: 99999 });
        $("#southbutton").attr('disabled',true)
        $("#northbutton").removeAttr("disabled")
        $(".southerndata").show();
        $(".northerndata").hide();
      }

      $("#northbutton").on("click", goToNorth);
      $("#southbutton").on("click", goToSouth);
    })

block content
  div.mdl-card.mdl-card.mdl-shadow--16dp#banner
    | The following fish and bugs will no longer be available after the end of #{month} in Animal Crossing: New Horizons
    br
    br
    | Please use the menu in the top left to change the month

  div.mdl-card.mdl-card.mdl-shadow--16dp#hemisphere-chooser
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#northbutton(disabled=true) Northern Hemisphere
    button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#southbutton Southern Hemisphere
  
  div.mdl-card.mdl-card.mdl-shadow--16dp.northerndata.small
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar
        a.mdl-tabs__tab.is-active(href='#fish') Fish
        a.mdl-tabs__tab(href='#bugs') Bugs
      
      div#fish.mdl-tabs__panel.is-active
        if data.fish.north.length == 0
          div.mdl-card.nothinghere.center No fish leave this month!
        each fish in data.fish.north
          +creature(fish.name, fish.price, fish.location, fish.time, fish.img)
      
      div#bugs.mdl-tabs__panel
        if data.bugs.north.length == 0
          div.mdl-card.nothinghere.center No bugs leave this month!
        each bug in data.bugs.north
          +creature(bug.name, bug.price, bug.location, bug.time, bug.img)
  
  div.mdl-card.mdl-card.mdl-shadow--16dp.southerndata.small
    .mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
      .mdl-tabs__tab-bar
        a.mdl-tabs__tab.is-active(href='#fish') Fish
        a.mdl-tabs__tab(href='#bugs') Bugs
      
      div#fish.mdl-tabs__panel.is-active
        if data.fish.south.length == 0
          div.mdl-card.nothinghere.center No fish leave this month!
        each fish in data.fish.south
          +creature(fish.name, fish.price, fish.location, fish.time, fish.img)
      
      div#bugs.mdl-tabs__panel
        if data.bugs.south.length == 0
          div.mdl-card.nothinghere.center No bugs leave this month!
        each bug in data.bugs.south
          +creature(bug.name, bug.price, bug.location, bug.time, bug.img)
  
  div.large
    div.mdl-card.mdl-shadow--2dp.northerndata
      if data.fish.north.length == 0
          div.mdl-card.nothinghere.center No fish leave this month!
      each fish in data.fish.north
        +creature(fish.name, fish.price, fish.location, fish.time, fish.img)

    div.mdl-card.mdl-card.mdl-shadow--2dp.northerndata
      if data.bugs.north.length == 0
          div.mdl-card.nothinghere.center No bugs leave this month!
      each bug in data.bugs.north
        +creature(bug.name, bug.price, bug.location, bug.time, bug.img)

    div.mdl-card.mdl-card.mdl-shadow--2dp.southerndata
      if data.fish.south.length == 0
          div.mdl-card.nothinghere.center No fish leave this month!
      each fish in data.fish.south
        +creature(fish.name, fish.price, fish.location, fish.time, fish.img)

    div.mdl-card.mdl-card.mdl-shadow--2dp.southerndata
      if data.bugs.south.length == 0
          div.mdl-card.nothinghere.center No Bugs leave this month!
      each bug in data.bugs.south
        +creature(bug.name, bug.price, bug.location, bug.time, bug.img)